.mini-counts
{
 font-size:190%;
 font-weight:700;
 height:25px;
}

.reputation-score
{
 color:#444;
 font-size:120%;
 font-weight:700;
 margin-right:2px;
}

.relativetime
{
 font-weight:700;
 text-decoration:none;
}

.container
{
 text-align:left;
 width:100%;
 zoom:1;
}

#content
{
 margin:0 auto;
 min-height:450px;
 width:960px;
}

.question-summary
{
 border-bottom:1px dotted #999;
 float:left;
 overflow:hidden;
 padding:11px 0;
 width:730px;
}

.votes
{
 color:#555;
 padding:0 0 7px;
 text-align:center;
}

.narrow .votes
{
 background:transparent;
 float:left;
 height:38px;
 margin:0 3px 0 0;
 padding:5px;
 width:38px;
}

.views
{
 color:#999;
 padding-top:4px;
 text-align:center;
}

.narrow .views
{
 float:left;
 height:38px;
 margin:0 7px 0 0;
 padding:5px 0 5px 4px;
 width:40px;
}

.status
{
 margin-top:-3px;
 padding:4px 0;
 text-align:center;
}

.narrow .status
{
 float:left;
 height:38px;
 margin:0 3px 0 0;
 padding:5px;
 width:48px;
}

.answered
{
 background:#75845C;
 color:#fff;
}

.unanswered
{
 background:transparent;
 color:#9a4444;
}

.summary
{
 float:left;
 width:635px;
}

.summary h3
{
 font-size:130%;
}

.narrow .summary
{
 width:550px;
}

.tags
{
 float:left;
 line-height:18px;
}

.tags a:hover
{
 text-decoration:none;
}

.started
{
 color:#999;
 float:right;
 line-height:18px;
 width:185px;
}

.narrow .started
{
 line-height:inherit;
 padding-top:4px;
 white-space:nowrap;
 width:auto;
}

.started .reputation-score
{
 margin-left:1px;
}

.post-tag,.post-text .post-tag,.wmd-preview a.post-tag
{
 background-color:#E0EAF1;
 border-bottom:1px solid #3E6D8E;
 border-right:1px solid #7F9FB6;
 color:#3E6D8E;
 font-size:90%;
 line-height:2.4;
 margin:2px 2px 2px 0;
 padding:3px 4px;
 text-decoration:none;
 white-space:nowrap;
}

a.post-tag:hover,.post-text a.post-tag:hover,.wmd-preview a.post-tag:hover
{
 background-color:#3E6D8E;
 border-bottom:1px solid #37607D;
 border-right:1px solid #37607D;
 color:#E0EAF1;
 text-decoration:none;
}

#question-mini-list
{
 margin-bottom:30px;
 margin-top:-10px;
 overflow:auto;
}

.sponsor-tag-img
{
 padding-right:4px;
 vertical-align:text-top;
}

.cp {
  cursor: pointer;
}
